[build]
  functions = "netlify/functions"
  publish = "."

[dev]
  command = ""
  port = 8888
  framework = "#static"
  autoLaunch = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
